<%- include('partials/header') %>

<div class="container-fluid">
    <form action="/" method="post">
        <div class="row">
            <div class="col">
                <button name="depot" value="langley" class="btn btn-primary depot-buttons">Langley</button>
            </div>
            <div class="col">
                <button name="depot" value="airdrie" class="btn btn-success depot-buttons">Airdrie</button>
            </div>
            <div class="col">
                <button name="depot" value="vaughan" class="btn btn-danger depot-buttons">Vaughan</button>
            </div>
            <div class="col">
                <button name="depot" value="varennes" class="btn btn-warning depot-buttons">Varennes</button>
            </div>
        </div>    
    </form>    
</div>

<div class="container-fluid report">
    <table class="table table-primary table-striped table-hover">
        <thead class="t-center">
            <tr>
                <th scope="col" colspan="13">Langley</th>
            </tr>
            <tr>
                <th scope="col">PO Number</th>
                <th scope="col">Vendor</th>
                <th scope="col">I.H.D / M.A.B.D</th>
                <th scope="col">Ready Date</th>
                <th scope="col">Ship Date</th>
                <th scope="col">Appt. Date</th>
                <th scope="col">Appt. Time</th>
                <th scope="col">Picked</th>
                <th scope="col">Carrier</th>
                <th scope="col">Accepted Quotes</th>
                <th scope="col">Skid Quantity</th>
                <th scope="col">ST / NS</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="t-center">
            <% langley.forEach(function(item) { %>
                <tr>
                    <td><a href="/update-<%= item._id %>"><%=item.poNumber%></a></td>
                    <td><%=item.vendor%></td>
                    <!-- In House Date -->
                    <% if (item.inHouseDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.inHouseDate[5] %><%= item.inHouseDate[6] %>-<%= item.inHouseDate[8] %><%= item.inHouseDate[9] %></td>
                    <% } %>
                    <!-- Ready Date -->
                    <% if (item.readyDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.readyDate[5] %><%= item.readyDate[6] %>-<%= item.readyDate[8] %><%= item.readyDate[9] %></td>
                    <% } %>
                    <!-- Ship Date -->
                    <% if (item.shipDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.shipDate[5] %><%= item.shipDate[6] %>-<%= item.shipDate[8] %><%= item.shipDate[9] %></td>
                    <% } %>
                    <!-- Appointment Date -->
                    <% if (item.appointmentDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.appointmentDate[5] %><%= item.appointmentDate[6] %>-<%= item.appointmentDate[8] %><%= item.appointmentDate[9] %></td>
                    <% } %>
                    <td><%=item.appointmentTime%></td>
                    <% if (item.picked) { %>
                        <td>✅</td>
                    <% } else {%> 
                        <td></td>
                    <%} %>
                    <td><%=item.carrier%></td>
                    <% if (item.acceptedQuote) { %>
                        <td>✅</td>
                    <% } else {%> 
                        <td></td>
                    <%} %>   
                    <td><%=item.skidQuantity%></td>
                    <td><%=item.stackable%></td>
                    <td class="table-delete">
                        <form action="/delete-appointment" method="post">
                            <button name="deleteId" value="<%= item._id %>" type="submit" class="btn-close" aria-label="Close"></button>
                        </form>
                    </td>
                </tr>
            <%  }) %>
        </tbody>
    </table>
</div>

<div class="container-fluid report">
    <table class="table table-success table-striped table-hover">
        <thead class="t-center">
            <tr>
                <th scope="col" colspan="13">Airdrie</th>
            </tr>
            <tr>
                <th scope="col">PO Number</th>
                <th scope="col">Vendor</th>
                <th scope="col">I.H.D / M.A.B.D</th>
                <th scope="col">Ready Date</th>
                <th scope="col">Ship Date</th>
                <th scope="col">Appt. Date</th>
                <th scope="col">Appt. Time</th>
                <th scope="col">Picked</th>
                <th scope="col">Carrier</th>
                <th scope="col">Accepted Quotes</th>
                <th scope="col">Skid Quantity</th>
                <th scope="col">ST / NS</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="t-center">
            <% airdrie.forEach(function(item) { %>
                <tr>
                    <td><a href="/update-<%= item._id %>"><%=item.poNumber%></a></td>
                    <td><%=item.vendor%></td>
                    <!-- In House Date -->
                    <% if (item.inHouseDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.inHouseDate[5] %><%= item.inHouseDate[6] %>-<%= item.inHouseDate[8] %><%= item.inHouseDate[9] %></td>
                    <% } %>
                    <!-- Ready Date -->
                    <% if (item.readyDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.readyDate[5] %><%= item.readyDate[6] %>-<%= item.readyDate[8] %><%= item.readyDate[9] %></td>
                    <% } %>
                    <!-- Ship Date -->
                    <% if (item.shipDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.shipDate[5] %><%= item.shipDate[6] %>-<%= item.shipDate[8] %><%= item.shipDate[9] %></td>
                    <% } %>
                    <!-- Appointment Date -->
                    <% if (item.appointmentDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.appointmentDate[5] %><%= item.appointmentDate[6] %>-<%= item.appointmentDate[8] %><%= item.appointmentDate[9] %></td>
                    <% } %>
                    <td><%=item.appointmentTime%></td>
                    <% if (item.picked) { %>
                        <td>✅</td>
                    <% } else {%> 
                        <td></td>
                    <%} %>
                    <td><%=item.carrier%></td>
                    <% if (item.acceptedQuote) { %>
                        <td>✅</td>
                    <% } else {%> 
                        <td></td>
                    <%} %>   
                    <td><%=item.skidQuantity%></td>
                    <td><%=item.stackable%></td>
                    <td class="table-delete">
                        <form action="/delete-appointment" method="post">
                            <button name="deleteId" value="<%= item._id %>" type="submit" class="btn-close" aria-label="Close"></button>
                        </form>
                    </td>
                </tr>
            <%  }) %>
        </tbody>
    </table>
</div>

<div class="container-fluid report">
    <table class="table table-danger table-striped table-hover">
        <thead class="t-center">
            <tr>
                <th scope="col" colspan="13">Vaughan</th>
            </tr>
            <tr>
                <th scope="col">PO Number</th>
                <th scope="col">Vendor</th>
                <th scope="col">I.H.D / M.A.B.D</th>
                <th scope="col">Ready Date</th>
                <th scope="col">Ship Date</th>
                <th scope="col">Appt. Date</th>
                <th scope="col">Appt. Time</th>
                <th scope="col">Picked</th>
                <th scope="col">Carrier</th>
                <th scope="col">Accepted Quotes</th>
                <th scope="col">Skid Quantity</th>
                <th scope="col">ST / NS</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="t-center">
            <% vaughan.forEach(function(item) { %>
                <tr>
                    <td><a href="/update-<%= item._id %>"><%=item.poNumber%></a></td>
                    <td><%=item.vendor%></td>
                    <!-- In House Date -->
                    <% if (item.inHouseDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.inHouseDate[5] %><%= item.inHouseDate[6] %>-<%= item.inHouseDate[8] %><%= item.inHouseDate[9] %></td>
                    <% } %>
                    <!-- Ready Date -->
                    <% if (item.readyDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.readyDate[5] %><%= item.readyDate[6] %>-<%= item.readyDate[8] %><%= item.readyDate[9] %></td>
                    <% } %>
                    <!-- Ship Date -->
                    <% if (item.shipDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.shipDate[5] %><%= item.shipDate[6] %>-<%= item.shipDate[8] %><%= item.shipDate[9] %></td>
                    <% } %>
                    <!-- Appointment Date -->
                    <% if (item.appointmentDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.appointmentDate[5] %><%= item.appointmentDate[6] %>-<%= item.appointmentDate[8] %><%= item.appointmentDate[9] %></td>
                    <% } %>
                    <td><%=item.appointmentTime%></td>
                    <% if (item.picked) { %>
                        <td>✅</td>
                    <% } else {%> 
                        <td></td>
                    <%} %>
                    <td><%=item.carrier%></td>
                    <% if (item.acceptedQuote) { %>
                        <td>✅</td>
                    <% } else {%> 
                        <td></td>
                    <%} %>   
                    <td><%=item.skidQuantity%></td>
                    <td><%=item.stackable%></td>
                    <td class="table-delete">
                        <form action="/delete-appointment" method="post">
                            <button name="deleteId" value="<%= item._id %>" type="submit" class="btn-close" aria-label="Close"></button>
                        </form>
                    </td>
                </tr>
            <%  }) %>
        </tbody>
    </table>
</div>

<div class="container-fluid report">
    <table class="table table-warning table-striped table-hover">
        <thead class="t-center">
            <tr>
                <th scope="col" colspan="13">Varennes</th>
            </tr>
            <tr>
                <th scope="col">PO Number</th>
                <th scope="col">Vendor</th>
                <th scope="col">I.H.D / M.A.B.D</th>
                <th scope="col">Ready Date</th>
                <th scope="col">Ship Date</th>
                <th scope="col">Appt. Date</th>
                <th scope="col">Appt. Time</th>
                <th scope="col">Picked</th>
                <th scope="col">Carrier</th>
                <th scope="col">Accepted Quotes</th>
                <th scope="col">Skid Quantity</th>
                <th scope="col">ST / NS</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="t-center">
            <% varennes.forEach(function(item) { %>
                <tr>
                    <td><a href="/update-<%= item._id %>"><%=item.poNumber%></a></td>
                    <td><%=item.vendor%></td>
                    <!-- In House Date -->
                    <% if (item.inHouseDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.inHouseDate[5] %><%= item.inHouseDate[6] %>-<%= item.inHouseDate[8] %><%= item.inHouseDate[9] %></td>
                    <% } %>
                    <!-- Ready Date -->
                    <% if (item.readyDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.readyDate[5] %><%= item.readyDate[6] %>-<%= item.readyDate[8] %><%= item.readyDate[9] %></td>
                    <% } %>
                    <!-- Ship Date -->
                    <% if (item.shipDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.shipDate[5] %><%= item.shipDate[6] %>-<%= item.shipDate[8] %><%= item.shipDate[9] %></td>
                    <% } %>
                    <!-- Appointment Date -->
                    <% if (item.appointmentDate[0] === 'T') { %>
                        <td>TBA</td>
                    <% } else { %>
                        <td><%= item.appointmentDate[5] %><%= item.appointmentDate[6] %>-<%= item.appointmentDate[8] %><%= item.appointmentDate[9] %></td>
                    <% } %>
                    <td><%=item.appointmentTime%></td>
                    <% if (item.picked) { %>
                        <td>✅</td>
                    <% } else {%> 
                        <td></td>
                    <%} %>
                    <td><%=item.carrier%></td>
                    <% if (item.acceptedQuote) { %>
                        <td>✅</td>
                    <% } else {%> 
                        <td></td>
                    <%} %>   
                    <td><%=item.skidQuantity%></td>
                    <td><%=item.stackable%></td>
                    <td class="table-delete">
                        <form action="/delete-appointment" method="post">
                            <button name="deleteId" value="<%= item._id %>" type="submit" class="btn-close" aria-label="Close"></button>    
                        </form>
                    </td>
                </tr>
            <%  }) %>
        </tbody>
    </table>
</div>

<%- include('partials/footer') %>

